<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoneErc20</title>
    <link rel="stylesheet" href="/main_style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}"> <!-- FAVICON -->
</head>
<body>
    <div class="crypto-pay-adress">
        <div class="main-block-1">
            <div class="main-block-content">
                <div class="process-page">
                    <h1 class="crypto-adressTitle">Payment details</h1>
                    <div class="crypto-form-fs">
                        <div class="crypto-payment-info-cont">
                            <div class="crypto-pay-currency">
                                <img src="https://www.svgrepo.com/show/367256/usdt.svg" alt="">
                                <div class="flex-cont-2">
                                    Pay with
                                    <span class="black-text">USDT (ERC20)</span>
                                </div>
                            </div>
                            <div class="crypto-payment-cont">
                                <div class="crypto-form-cont payment-status-info">
                                    <span>
                                        Waiting for money to be received...
                                    </span>
                                </div>
                                
                                <div class="crypto-form-cont">
                                    <div class="crypto-form-cont-label">Network:</div>
                                    <div class="rounded-grey-rect crypto-network-2">
                                        <span>ETH (ERC20)</span>
                                    </div>
                                </div>
                                <div class="crypto-status-cont">
                                    Payment page will close in
                                    <div class="time-circle-wrap">            
                                        <span class="minutes-text black-text" id="minutes-1">00</span>:
                                        <span class="seconds-text black-text" id="seconds-1">15</span>
                                    </div>                      
                                </div>
                                <div class="crypto-buttons-cont">
                                    <button class="btn-red-1">Back to profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>