<!DOCTYPE html>
<html lang="en" data-theme="light" data-sidebar-behaviour="fixed" data-navigation-color="inverted" data-is-fluid="true">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}"> <!-- FAVICON -->
    <link rel="stylesheet" href="/app/static/signup.css">
</head>
<body>
    
  <!-- MAIN CONTENT -->
  <main class="container">
    <div class="row align-items-center justify-content-center vh-100">
        <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 py-6 mx-400">

            <!-- Title -->
            <h1 class="mb-2 text-center">
                Sign Up
            </h1>

            <!-- Subtitle -->
            <p class="text-secondary text-center">
                Register to access to your account
            </p>

            <!-- Form -->
            <form method="POST" action="">
                <input type="hidden" name="csrfmiddlewaretoken" value="QoXkbEhUlMnUAeddhdmbGLBXVx6YtOStJH6oX64bvvybSn6eR3mr4nBPLoPsJiBJ">
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username">       
                    <span class="helptext" id="id_username_helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                </p>
                <p>
                    <label for="id_password1">Password:</label>
                    <input type="password" name="password1" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
                    <span class="helptext" id="id_password1_helptext"></span>
                </p>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <p></p>
                <p>
                    <label for="id_password2">Password confirmation:</label>
                    <input type="password" name="password2" autocomplete="new-password" required="" aria-describedby="id_password2_helptext" id="id_password2">
                    <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>
                </p>
                
                <div class="row align-items-center text-center">
                    <div class="col-12">
                        <!-- Button -->
                        <button type="submit" class="btn w-100 btn-primary mt-6 mb-2">Register</button>
                    </div>

                    <div class="col-12">
                        <!-- Link -->
                        <small class="mb-0 text-muted">Already signed up? <a href="/login" class="fw-semibold">Login</a></small>
                    </div>
                </div> <!-- / .row -->
            </form>

        </div>
    </div> <!-- / .row -->
</main> <!-- / main -->

<!-- JAVASCRIPT-->


</body>
</html>